$borderRadius: 8px;

$maxWitdh--large: 1200px;

$h1--large: 3rem;
$h1--medium: 2.7rem;
$h1--small: 2.4rem;

$h2--large: 1.3rem;
$h2--medium: 1.1rem;
$h2--small: 1rem;


$p--large: 1.2rem;
$p--medium: 1rem;
$p--small: 0.9rem;

$span--large: 1.2rem;
$span--medium: 1rem;
$span--small: 0.8rem;
